*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    text-decoration: none;
}
:root{
    --principal-color: #ffe52f;
    --secondary-color: #19191a;
    --third-color: #5A05B3;
    --fontColor: #f5f5f5;
    --font: 'Montserrat', sans-serif;
    --white: white;
    --black: black;
}

/* Style do header */

.section-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 17vh;

    background-color: var(--black);
}
.section-header .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}
.section-header .menu a{
    transition: 0.1s;
    font-size: 20px;
    color: var(--principal-color);
}
.section-header .menu a:hover{
    border-bottom: 2px solid var(--principal-color);
}

/* Destinado a style da seção principal */

.section-main{
    width: 100%;
    height: 83vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url(../assets/ftFundoHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: var(--secondary-color); */
}
.section-main .content{
    margin-inline: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

/* texto do main */

.section-main .content p{
    color: var(--fontColor);
    font-size: 35px;
    text-align: center;
}

/* style do botão */

.btn{
    width: 15rem;
    padding: 0.8rem;

    font-size: 16px;

    cursor: pointer;

    border: 1px solid var(--principal-color);
    border-radius: 6px;

    background-color: var(--secondary-color-soft);
    color: var(--principal-color);

    text-align: center;

    transition: 0.6s;
}
.btn:hover{
    border: 1px solid var(--secondary-color);

    background-color: var(--principal-color);
    color: var(--secondary-color);
}

/* Destinada a seção 1 */

.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5rem;
    padding-block: 10rem;

    background-color: var(--secondary-color);

    flex-wrap: wrap;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}
.section-one .card{
    /* border: 1px solid var(--secondary-color); */
    border-radius: 20px;
    width: 20vw;
    height: 25vh;
    padding-inline: 1rem;
    margin-inline: 2rem;

    box-shadow: -2px -2px 5px var(--principal-color), 2px 2px 5px var(--principal-color);

    background-color: var(--principal-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.4s;
}
.section-one .card:hover{
    width: 22vw;
    height: 27vh;
    padding-inline: 1rem;
    margin-inline: 2rem;
}
.section-one .card .texts{
    padding: 2rem;

    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
    gap: 1rem;
}
.section-one p#title-page{
    font-weight: 300;
    font-size: 35px;
    color: var(--fontColor);
}
.section-one .card .texts p#theme-card{
    color: var(--secondary-color);
    font-weight: 600;
}
.section-one .card .texts p#title-card{
    font-size: 25px;
    font-weight: bold;
}

/* destinado a seção 2 */

.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5rem;
    padding-block: 10rem;

    background-color: var(--black);

    flex-wrap: wrap;
}
.section-two p#title-page{
    font-weight: 300;
    font-size: 35px;
    color: var(--principal-color);
}
.section-two .cards .card{
    width: 40vw;

    /* border: 1px solid var(--secondary-color); */
    border-radius: 20px;
    /* padding-inline: 1rem; */
    margin-inline: 2rem;

    /* box-shadow: -2px -2px 5px var(--principal-color), 2px 2px 5px var(--principal-color); */

    background-color: var(--principal-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.4s;
}
.section-two .cards .card:hover{
    margin-inline: 2rem;
}
.section-two .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
}
.section-two .cards .texts{
    margin-inline: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 1rem;
}
.section-two .card .texts p#theme-card{
    color: var(--secondary-color);
    font-weight: 600;
}
.section-two .card .texts p#title-card{
    font-size: 25px;
    font-weight: bold;
}

/* Style da seção 3 */
.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5rem;
    padding-block: 10rem;

    background-color: var(--secondary-color);

    flex-wrap: wrap;
}
.section-three p#title-page{
    font-weight: 300;
    font-size: 35px;
    color: var(--fontColor);
}
.section-three p#title-page-table{
    font-weight: 300;
    font-size: 35px;
    color: var(--fontColor);
}
.section-three .buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    column-gap: 2rem;
    row-gap: 2rem;

    padding-inline: 15%;
}
